<!-- views/login.handlebars -->

<section class="">
  <div class="">
    <div class="">
      <h1 class="">Minorities Love Tech </h1>
      <br />
      <div class="">
        <h2 class="">User Login</h2>
        <form id="">
          <div class="">
            <label for="username" class="label">Username:</label>
            <div class="control">
              <input
                type="text"
                id="username-login"
                name="username"
                required
                class="input"
                placeholder="Username"
              />
            </div>
          </div>
          <div class="">
            <label for="password" class="label">Password:</label>
            <div class="control">
              <input
                type="password"
                id="password-login"
                name="password"
                required
                aria-label="Enter your password"
                class="input"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="">
            <div class="">
              <button
                type="submit"
                class="button is-primary"
                id="submit-login"
              >
                Log In
              </button>
            </div>
          </div>
          <p id="" class=""></p>
        </form>
        <nav class="">
          <p>Not a user? <a href=''>Sign up here</a></p>
          <p>Forgot your password? <a href=''>Reset it here</a></p>
        </nav>
      </div>
    </div>
  </div>
</section>
<script src='/js/login.js'></script>